@font-face {
    font-family: "Ethnocen";
    src: url("./ethnocen.ttf");
}

body{
    background-color: #1b1b1d;
    margin: 0;
    font-family: Lexend, sans-serif;
    color: #f1f1f1;
}

h1{
    font-size: clamp(24px, 5vw ,48px);
}
a{
    color: #f1f1f1;
    text-decoration: none;
}
em{
    border-bottom: 0.25rem solid #cf552d;
    font-style: normal;
}


ul.list {
    list-style: none;
  }
  
ul.list li::before {
    content: "\2022";
    color: #cf552d;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

table{
    width: 100%;
}
table tr:nth-child(odd){
    background-color: rgba(207, 85, 45, 0.1);
}
table td{
    width: 50%;
    padding: 10px 5px;
}

.paging{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.paging a{
    padding: 10px;
    background-color: #cf552d;
    border-radius: 8px;
}